/*Homepage*/
.fullpage{
    min-height:100vh;
    max-height:100vh;
    overflow:hidden;
    background-color: rgba(0, 77, 64, 0.7);
    color:#fff;
}
.fullpage .buttons form{
    padding:2vh;
    display:inline-block;
}
.fullpage input{
    font-size:16px;
}
.fullpage h1{
    font-size:50px;
}


/*Dashboard Page*/
.topbar{
    background-color: rgba(0, 77, 64, 0.7);
    padding:2vh;
    color:#fff;
}
.topbar ul,li{
    display:inline;
    padding:2vh;
}
.topbar a{
    text-decorator:none;
    color:#fff;
}