body{
    width:100%;
    padding:0;margin:0;
    overflow: hidden;
}
.wrapper{
    width:100%;
}
header{
    padding:0;margin:0;
    color:#212121;
}
.navigation{
    background-color: #212121;
    color: #fff;
}
.navigation span{
    display:block;
}

@media only screen and (min-width: 780px){
    .nav-tabs a{
        text-decoration:none;
        color:#fff;
    }
    header{
        height:60px;
        padding-right:10px;
     }
    .heading{
        padding-left:10px;
    }
    .heading h1{
        padding-top:10px;
        margin:0;
    }
    section{
        height:520px;
        border: 0.5px solid #607D8B;
    }
    .navigation{
        height:520px;
        padding:20px;
    }
    .navigation span{
        font-size:24px;
        line-height: 300%;
    }
     footer{
        height:60px;
    }

}