{% extends "base.html" %}
{% block topbar %}
<div class="container-fluid">
    <div class="row topbar">
        <div class="col-sm-8">
            <p class="title">&nbsp;WebExperts CMS</p>
        </div>
        <div class="col-sm-4 text-right" >
            <ul>
                <li><span class="glyphicon glyphicon-log-in"><a href="{{ url_for('auth.signin') }}">&nbsp;SignIn</a></span></li>
                <li><span class="glyphicon glyphicon-new-window"><a href="{{ url_for('auth.signup') }}">&nbsp;SignUp</a></span></li>
                <li><span class="glyphicon glyphicon-log-out"><a href="{{ url_for('auth.signout') }}">&nbsp;SignOut</a></span></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block tabs %}
<div class="container-fluid">
    <div class="row tabs">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home"><span class="glyphicon glyphicon-home">&nbsp;Dashboard</span></a></li>
            <li><a data-toggle="tab" href="#user"><span class="glyphicon glyphicon-user">&nbsp;User Profile</span></a></li>
            <li><a data-toggle="tab" href="#blogs"><span class="glyphicon glyphicon-edit">&nbsp;Blogs</span></a></li>
            <li><a data-toggle="tab" href="#help"><span class="glyphicon glyphicon-exclamation-sign">&nbsp;Help</span></a></li>
        </ul>
    </div>
{% endblock %}
{% block tab_content %}
<div class="row content">
    <div class="tab-content">
        <div id="home" class="text-center tab-pane fade in active">
            <h2>Dashboard</h2>
        </div>
        <div id="user" class="text-center tab-pane fade">
            <h2>User Profile</h2>
        </div>
        <div id="pages" class="text-center tab-pane fade">
            <h2>Pages</h2>
        </div>
        <div id="blogs" class="text-center tab-pane fade">
            <h2>Blogs</h2>
            {% block new_blog %}{% endblock %}
        </div>
        <div id="help" class="text-center tab-pane fade">
            <h2>Help</h2>
        </div>
    </div>
</div>
{% endblock %}
</div>